body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
}

/*--Header Section start--*/
/*--Header Section start--*/
/*--Header Section start--*/

.header {
    background: linear-gradient(rgb(72, 0, 72, 0.4), rgb(192, 72, 72, 0.8)),url("image/Banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_section h1 {
    text-align: center;
    font-size: 50px;
    width: 70%;
    margin-left: 15%;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_section p {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    font-weight: 100;
    color: rgb(236, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_section a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 42.5%;
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;  
}

/*--Header Section End--*/
/*--Header Section End--*/
/*--Header Section End--*/


/*----------     Donate section Start     --------*/
/*----------     Donate section Start     --------*/
/*----------     Donate section Start     --------*/

.donate_section {
    width: 60%;
    margin-left: 20%;
    margin-top: 90px;
    margin-bottom: 90px;
}
.donate h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.donate p {
    width: 70%;
    margin-left: 15%;
    text-align: center;
    color: gray;
}

/*-- Donate Section Amount Option ---*/
.dollar_amount {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.amount {
    width: 20%;
    background-color: #F6F8FA;
    margin-left: 2%;
    padding: 18px 19px;
}
.amount h3 {
    text-align: center;
    color: gray;
    font-size: 25px;
}
.color_amount {
    border: 2px solid red;
    background-color: #ffcccb;
}
.color_amount h3 {
    color: red;
}
.amount_write h4 {
    color: gray;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: -2px;
}
.amount_write hr {
    color: gray;
    margin-bottom: 40px;
}
.amount_write a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 13px 15px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-left: 42.5%;
}

/*----------     Donate section End     --------*/
/*----------     Donate section End     --------*/
/*----------     Donate section End     --------*/


/*----------     Third Section Donate Plan Start        --------*/
/*----------     Third Section Donate Plan Start        --------*/
/*----------     Third Section Donate Plan Start        --------*/

.third_donate_plan {
    background-color: #F6F8FA;
    width: 100%;
    height: 750px;

}
.plan_header {
    width: 50%;
    margin-left: 25%;
    padding-top: 30px;
}
.plan_header h1 {
    text-align: center;
    color: #1f1110;
    font-size: 35px;
    font-weight: 600;
}
.plan_header p {
    text-align: center;
    color: rgb(48, 41, 41);
}


/*--- 3 different Plan Section ---*/

.different_plan {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-top: 60px;
    margin-bottom: 70px;
}
.plan {
    width: 33.33%;
    margin-left: 3%;
    padding: 20px 30px;
}
.food_plan {
    background-color: rgb(144, 144, 212);
}
.plan h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.plan p {
    color: rgb(24, 1, 12);
    text-align: justify;
}
.shelter_plan {
    background-color: #eb8d8c;
}
.education_plan {
    background-color: rgb(92, 201, 164);
}

/*----------     Third Section Donate Plan End        --------*/
/*----------     Third Section Donate Plan End        --------*/
/*----------     Third Section Donate Plan End        --------*/


/*------------------- 4th Section News and Blog section Start ----*/
/*------------------- 4th Section News and Blog section Start ----*/
/*------------------- 4th Section News and Blog section Start ----*/

.latest_news {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
}
.portal {
    width: 50%;
    padding: 0 40px;
}
.portal h1 {
    color: rgb(4, 72, 134);
    font-size: 30px;
    font-weight: 600;
}
.blog p {
    text-align: justify;
}

/*------------------- 4th Section News and Blog section End ----*/
/*------------------- 4th Section News and Blog section End ----*/
/*------------------- 4th Section News and Blog section End ----*/



/*------------------5th Section Subscription start ----*/
/*------------------5th Section Subscription start ----*/
/*------------------5th Section Subscription start ----*/


.subscribe {
    margin-top: 70px;
    background-color: azure;
    height: 550px;
}
.box1 {
    width: 60%;
    margin-left: 20%;
    padding-top: 40px;
}
.subscribe_word {
    margin-bottom: 50px;
}
.subscribe_word h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.subscribe_word p {
    text-align: center;
}
.subscribe_form {
    background-color: #e2acab;
    padding: 90px 20px;
}
.subscribe_form form {
    text-align: center;
}
.subscribe_form input {
    padding: 15px 35px;
    background-color: rgb(231, 224, 224);
    color: gray;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: 15px;  
}
.subscribe_form button {
    padding: 15px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 15px;
    background-color: #FF5959;
    color: white;
    margin-left: -5px;
}

/*------------------5th Section Subscription End ----*/
/*------------------5th Section Subscription End ----*/
/*------------------5th Section Subscription End ----*/